<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Baśniowa Kawiarenka - teatr, kawiarnia - Łódź</title>
    <meta name="description" content="Baśniowa Kawiarenka to kawiarnia, teatr i księgarnia dla dzieci prowadzona przez aktorów. Organizujemy imprezy dla szkół i przedszkoli. Zapraszamy!" />
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/moment.js"></script>
    <script src="Scripts/moment-with-locales.js"></script>
    <script src="Scripts/elastic.js"></script>
</head>
<body ng-controller="RepertoireEditorCtrl as vm">
    <script>
        (function () {
            'use strict';

            moment.locale('pl');

            Array.prototype.any = function(predicate){
                for (var i = 0; i < this.length; i++) {
                    if (predicate(this[i])) {
                        return true;
                    }
                }
                return false;
            };
            
            Array.prototype.firstOrUndefined = function(predicate){
                for (var i = 0; i < this.length; i++) {
                    if (predicate(this[i])) {
                        return this[i];
                    } 
                }
                return undefined;
            };

            String.prototype.firstCapital = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }

            angular
                .module('app', ['monospaced.elastic'])
                .controller('RepertoireEditorCtrl', RepertoireEditorCtrl);

            function RepertoireEditorCtrl($http) {
                var vm = this;
                vm.loadFailed = false;
                vm.loading = true;
                vm.repertoire = null;
                vm.saveRepertoire = saveRepertoire;

                $http.get('repertoire.json').then(function (response) {
                    vm.repertoire = prepareRepertoire(response.data);
                    vm.loading = false;
                }).catch(function (error) {
                    vm.loadFailed = true;
                    vm.loading = false;
                });

                function saveRepertoire() {
                    var repertoire = {
                        months: vm.repertoire.months.map(function (m) {
                            return {
                                "name": m.name,
                                "headerText": m.headerText,
                                "date": m.date.format('YYYY[-]MM[-]DD[T]HH[:]mm[:]ss'),
                                "days": m.days.map(function (d) {
                                    return {
                                        "day": d.day,
                                        "date": d.date.format('YYYY[-]MM[-]DD[T]HH[:]mm[:]ss'),
                                        "shows": d.shows.split('\n')
                                    };
                                })
                            };
                        })
                    };
                    

                };

                function prepareRepertoire(existing) {
                    var start = moment().date(1);
                    var end = moment().add({ months: 3, days: -1 });
                    var repertoire = { months: [] };

                    for (var monthInc = 0; monthInc < 3; monthInc++) {
                        var month = moment(start).add({ months: monthInc });
                        var existingMonthEntry = existing.months
                            .firstOrUndefined(function (m) { return m.date === month.format('YYYY-MM-DD[T]00:00:00'); });
                        var monthEntry = {
                            "name": month.format('MMMM YYYY').firstCapital(),
                            "headerText": existingMonthEntry ? existingMonthEntry.headerText : null,
                            "date": month,
                            "days": []
                        };

                        var day = moment(month);
                        while (day.month() === month.month()) {
                            var existingDayEntry = existingMonthEntry ? existingMonthEntry.days.firstOrUndefined(function (d) { return d.date === day.format('YYYY-MM-DD[T]00:00:00'); }) : null;
                            var dayEntry = {
                                "day": day.format('D MMMM [(]dddd[)]'),
                                "date": day,
                                "shows": existingDayEntry ? existingDayEntry.shows.join('\n') : ''
                            };
                            monthEntry.days.push(dayEntry);

                            day.add({ days: 1 });
                        }

                        repertoire.months.push(monthEntry);
                    }

                    return repertoire;
                }
            }

        })();
    </script>
    <table align="left">
        <tr>
            <td style="width: 260px; vertical-align:top">
                <img alt="Baśniowa Kawiarenka" src="images/logo.jpg" /><br />
                <div class="menu">
                    <div class="menuitem"><a href="/">Baśniowa Kawiarenka</a></div>
                    <div class="menuitem"><a href="informacje.htm">Spotkania z książką</a></div>
                    <div class="menuitem"><a href="o_kawiarni.htm">Teatr</a></div>
                    <div class="menuitem"><a href="menu.htm">Menu</a></div>
                    <div class="menuitem"><a href="repertuar.htm">Repertuar</a></div>
                    <div class="menuitem"><a href="na_afiszu.htm">Przedstawienia</a></div>
                    <div class="menuitem"><a href="prasa.htm">Artykuły</a></div>
                    <div class="menuitem"><a href="kontakt.htm">Kontakt</a></div>
                    <div style="background-color: White; width:250px"><div id="fb-root" style=""></div><script src="http://connect.facebook.net/pl_PL/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Ba%C5%9Bniowa-Kawiarenka/164115840323050" width="250" show_faces="false" border_color="" stream="false" header="true"></fb:like-box></div>
                    <div class="menuitem"><img src="images/wanna.gif" /></div>
                </div>
            </td>
            <td style="vertical-align:top; padding-left: 10px">
                <img alt="Baśniowa Kawiarenka" src="titles/repertuar.gif" /><br />

                <div id="repertoire">
                    <p ng-show="vm.loading">Poczekaj chwilkę - ładujemy repertuar...</p>
                    <p ng-show="vm.loadFailed">Wystąpił błąd podczas ładowania repertuaru. Odśwież stronę i spróbuj ponownie.</p>
                    <div ng-show="!vm.loading && !vm.loadFailed">
                        <button ng-click="vm.saveRepertoire()">Zapisz</button>
                        <div ng-repeat="month in vm.repertoire.months">
                            <p class="month-name">{{month.name}}</p>
                            <input type="text" ng-model="month.headerText" placeholder="Komentarz do miesiąca" class="month-text-editor" />
                            <table class="month-editor">
                                <thead>
                                    <tr>
                                        <td>Dzień</td>
                                        <td>Repertuar</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="day in month.days">
                                        <td>{{day.day}}</td>
                                        <td><textarea msd-elastic=msd-elastic ng-model="day.shows" class="shows-editor" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>            
                <br />
            </td>
        </tr>
    </table>
    <!--
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10778774-1");
pageTracker._trackPageview();
} catch(err) {}</script>-->
</body>
</html>
